
{% load static %}



<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="{% url 'polls:index' %}">stanleycelestin.com</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#about">about</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#projects">projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">contact</a>
      </li> 
    </ul>
  </div> 
</nav>

<div class="jumbotron jumbotron-fluid" id="about">
  <div class="container">
    <h1>About Stanley </h1> 
    <p>    Stanley Celestin was born in Haiti and raised in Miami, Florida. During his younger years, Stanley was an active member in his community by being involved in school and church activities. In his free time he plays basketbal and spends time with his family and friends.<br><br>
    Stanley is fifth year computer engineering major at the University of Florida. He has done various internships with inductrial and tech companies while simultanesously being involved in his community. He is aspires to obtain a phd in AI with some focus on ethics starting the Fall of 2019.</p> 
  </div>
</div>

<div  class="container"  id="projects">
	<h1>Projects</h1>
	<a href="../../static/polls/files/StanleyCelestinCurriculumVitae00.pdf" target="_blank">Curriculum Vitae</a>
	<!--
	<embed src="../../static/polls/files/StanleyCelestinCurriculumVitae00.pdf" type="application/pdf" width="100%" height="600px">
	-->
</div>
<div  class="container  bg-primary text-white"  id="projects">
	<h1>Contact</h1>
	<div class="row justify-content-center">
        <div class="col-8">
          <h1 class="mt-2">Django People</h1>
          <hr class="mt-0 mb-4">
          {% block content %}
          {% endblock %}
        </div>
</div>


{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>